<footer class="footer">
    <div class="footer-content container">
        <div class="link">
            <h3>LOREM</h3>
            <ul>
                <li><a href="#">INFO</a></li>
                <li><a href="#">INFO</a></li>
            </ul>
        </div>
        <div class="link">
            <h3>LOREM</h3>
            <ul>
                <li><a href="#">INFO</a></li>
                <li><a href="#">INFO</a></li>
            </ul>
        </div>
        <div class="link">
            <h3>LOREM</h3>
            <ul>
                <li><a href="#">INFO</a></li>
                <li><a href="#">INFO</a></li>
            </ul>
        </div>
    </div>
</footer>