
.background-filter {
    margin-top: 1w;
    position: relative;
    width: 100%;
    height: 100vh;
    
}

.background-filter::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;  
    background: url('https://st4.depositphotos.com/1325771/39154/i/450/depositphotos_391545206-stock-photo-happy-male-medical-doctor-portrait.jpg') no-repeat center center;
    background-size: cover;
    filter: brightness(0.4); /* Aplica el filtro deseado */
    z-index: -1; /* Coloca el pseudo-elemento detrás del contenido */
}

.contain {
    position: relative;
    color: white;
    padding: 20px;
    font-size: 2em;
    height: 100vh;
}
.contain h2{
    color: white;
    margin-top: 150px;
    font-size: 75px;
}

.contain p{
    color: white;
    font-size: 25px;
} 

.contain a{
    color: #80E132;
    font-size: 15px;
    text-decoration: none;
}

.contain a img {
    width: 15px;
}

.contain a:hover {
    border-bottom: 1px solid;
  }


.in-button {
    position: relative;
    background-color: rgb(38, 103, 179);
    color: white;
    padding: 20px;
    font-size: 2em;
}
.in-button h2{
    color: white;
    font-size: 45px;
}

.in-button p{
    color: white;
    font-size: 15px;
} 

.in-button a{
    margin-top: 15px;
    color: #ffffff;
    font-size: 12px;
    text-decoration: none;
}

.in-button a img {
    width: 12px;
}

.in-button a:hover {
    border-bottom: 1px solid;
  }

footer{
    height: 15vw;
    background-color: black;
    align-items: center;
  }

footer h2{
    padding: 15px 0 0 0 ;
    color: white;
    font-size: 20px;
    margin-left: 19vw;
}

ul{
    list-style-type: none;
    margin-left: 17vw;
}

.introduction{
    font:100 1.5em 'Roboto', sans-serif;
    color: white;
    margin-top: 10px;

}


@media screen and (max-width: 768px) {
    .contain h2{
        font-size: 45px;
    }
    .contain p{
        font-size: 15px;
    }
    .contain a{
        font-size: 10px;
    }
    .in-button h2{
        font-size: 30px;
    }
    .in-button p{
        font-size: 10px;
    }
    .in-button a{
        font-size: 8px;
    }
    footer h2{
        font-size: 15px;
        margin-left: 10vw;
    }
    ul{
        margin-left: 8vw;
    }
    .introduction{
        font-size: 1em;
    }
    
}