<app-navbar></app-navbar>

<div class="fondo-filtrado">
    <div class="contenido overflow-hidden text-start">
        <div class="row gx-5">
        <div class="col">
            <div class="p-5">
            
            <h2 class="title">
                <b>Bienvenidos a EasyTurn</b>
            </h2>
            <p class="data">
                La unión de los centros médicos más importantes de la ciudad Rosario y su región.
            </p>
            <a routerLink="/info">
                <img  src="https://images.freeimages.com/vhq/images/previews/c75/arrow-simple-way-green-102288.png" alt=""> conocenos
            </a>
    
            </div>
        </div>
        <div class="col">
            <div class="p-2">
    
            </div>
        </div>
        </div>
        </div>
</div>

<div class="ingreso text-center">
    <h2>
        Solicita tu turno online instantáneo
    </h2>
    <p>
        Ingresá y tomalo directamente de nuestra agenda.
    </p>
    <a routerLink="/buscarturno">
        <img  src="https://images.freeimages.com/vhq/images/previews/c75/arrow-simple-way-green-102288.png" alt=""> INGRESAR
    </a>

</div>


<footer class="text-start">
    <div class="row">
        <div class="col">
            <h2>
                CONTACTO OFICINAS 
            </h2>
            <ul class="text-start">
                <li >An active item</li>
                <li >A second item</li>
                <li >A third item</li>
                <li >A fourth item</li>
                <li >And a fifth one</li>
            </ul>
        </div>
        <div class="col">
            <h2>
                Redes
            </h2>
            <ul class="text-start">
                <li>An active item</li>
                <li>A second item</li>
                <li>A third item</li>
                <li>A fourth item</li>
                <li>And a fifth one</li>
            </ul>
        </div>
      </div>
    
</footer>

