
.fondo-filtrado {
    margin-top: 1w;
    position: relative;
    width: 100vw;
    height: 75vw;
    overflow: hidden;
}

.fondo-filtrado::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://st4.depositphotos.com/1325771/39154/i/450/depositphotos_391545206-stock-photo-happy-male-medical-doctor-portrait.jpg') no-repeat center center;
    background-size: cover;
    filter: brightness(0.4); /* Aplica el filtro deseado */
    z-index: -1; /* Coloca el pseudo-elemento detrás del contenido */
}

.contenido {
    position: relative;
    color: white;
    padding: 20px;
    font-size: 2em;
}
.contenido h2{
    color: white;
    margin-top: 150px;
    font-size: 75px;
}

.contenido p{
    color: white;
    font-size: 25px;
} 

.contenido a{
    color: #80E132;
    font-size: 15px;
    text-decoration: none;
}

.contenido a img {
    width: 15px;
}

.contenido a:hover {
    border-bottom: 1px solid;
  }


.ingreso {
    position: relative;
    background-color: rgb(38, 103, 179);
    color: white;
    padding: 20px;
    font-size: 2em;
}
.ingreso h2{
    color: white;
    font-size: 45px;
}

.ingreso p{
    color: white;
    font-size: 15px;
} 

.ingreso a{
    margin-top: 15px;
    color: #ffffff;
    font-size: 12px;
    text-decoration: none;
}

.ingreso a img {
    width: 12px;
}

.ingreso a:hover {
    border-bottom: 1px solid;
  }

footer{
    height: 15vw;
    background-color: black;
    align-items: center;
  }

footer h2{
    padding: 15px 0 0 0 ;
    color: white;
    font-size: 20px;
    margin-left: 19vw;
}

ul{
    list-style-type: none;
    margin-left: 17vw;
}