
<app-navbar></app-navbar>

<div class="fondo-filtrado">
    <div class="container text-start">
        <h2>
        <b> Encontrá tu turno</b>
        </h2>
        <div class="row">
        <div class="col">
            <span class="input-group-text" id="inputGroup-sizing-default">Buscá por especialidad y/o profesional</span>
            <div class="input-group mb-3">
                <input type="search" [(ngModel)]="filterSpeciality" class="form-control" data-bs-toggle="dropdown" aria-label="Sizing example input" placeholder="Especialidad">
                <ul class="dropdown-menu">
                    @for (item of specialities; track $index) {
                        <li><a class="dropdown-item" href="#">{{item}}</a></li>
                    }
                </ul>
            </div> 
        </div>
        <div class="col">
            <span class="input-group-text" id="inputGroup-sizing-default">Buscá por institución o zona</span>
            <div class="input-group mb-3">
                <input type="text" [(ngModel)]="filterInstitutions" class="form-control" data-bs-toggle="dropdown" aria-label="Sizing example input" placeholder="Institucion">
                <ul class="dropdown-menu" id="specielitiesList">
                    @for (item of institutions; track $index) {
                        <li><a class="dropdown-item" href="#">{{item}}</a></li>
                    }
                </ul>
            </div> 
            <p>
                {{filterSpeciality}}
            </p>
        </div>
        <div class="col">
            <span class="input-group-text" id="inputGroup-sizing-default">Buscá tu obra social</span>
            <div class="input-group mb-3">
                <input type="text" [(ngModel)]="filterHealthIncurances" class="form-control" data-bs-toggle="dropdown" aria-label="Sizing example input" placeholder="Obra Social">
                <ul class="dropdown-menu">
                    @for (item of healthInsurances; track $index) {
                        <li><a class="dropdown-item" href="#">{{item}}</a></li>
                    }
                </ul>
            </div> 
        </div>
        </div>
    </div>
    <div class="buttons">
        <div class="containter text-end">
            <button class="btn btn-success">
                <img src="https://images.freeimages.com/vhq/images/previews/c75/arrow-simple-way-green-102288.png" alt=""> BUSCAR
            </button>
            
        </div> 
        <div class="containter text-end mt-3">
           
            <button class="btn btn-success">
                <img src="https://images.freeimages.com/vhq/images/previews/c75/arrow-simple-way-green-102288.png" alt=""> MIS TURNOS / CANCELAR TURNOS
            </button>
        </div>  
    </div>
    
</div>