<app-navbar></app-navbar>

<div class="container">
    <h4>Podés consultar tus turnos asignados</h4>
    <hr>
    <form class="row">
        <div class="col mb-3">
            <label>Dirección de Email</label>
            <input type="email" class="form-control" placeholder="Dirección email">
        </div>
          <div class="col mb-3">
            <label>N° de documento</label>
            <input type="text" class="form-control"placeholder="N° de documento">
          </div>
          <div class="col mb-3">
            <label>Fecha de nacimiento</label>
            <div class="row">
                <div class="col mb-3">
                    <input type="number" class="form-control" placeholder="Día(01)">
                </div>
                <div class="col mb-3">
                    <input type="number" class="form-control" placeholder="Mes(01)">
                </div>
                <div class="col mb-3">
                    <input type="number" class="form-control" placeholder="Año(1990)">
                </div>
            </div>
               
        </div>
        <button class="btn btn-primary" type="submit">
            Buscar turnos
        </button>
    </form>
</div>
   

