<app-navbar></app-navbar>
<div class="login-container">
    <div class="login-content">
      <!-- Lado izquierdo - Imagen y texto -->
    <div class="login-left">
      <img src="https://paciente.gored.com.ar/assets/login/img-login-pp-go.jpeg">
    </div>
      <!-- Lado derecho - Formulario -->
      <div class="login-right">
        <div class="login-form-container">
          <h1 class="form-title">Portal Paciente</h1>
          <h2 class="login-subtitle">Iniciar sesión</h2>
          
          <div class="register-link">
            No tenes cuenta? | <a href="#" class="create-account">Crea tu cuenta</a>
          </div>
  
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
            <div class="form-group">
              <input 
                type="email" 
                formControlName="email" 
                placeholder="Email"
                class="form-input">
            </div>
  
            <div class="form-group">
              <div class="password-input">
                <input 
                  [type]="hidePassword ? 'password' : 'text'"
                  formControlName="password" 
                  placeholder="Clave"
                  class="form-input">
                <button 
                  type="button"
                  class="toggle-password"
                  (click)="hidePassword = !hidePassword">
                  <i class="material-icons">{{hidePassword ? 'visibility_off' : 'visibility'}}</i>
                </button>
              </div>
            </div>
  
            <div class="forgot-password">
              <a href="#">¿Te olvidaste tu contraseña?</a>
            </div>
  
            <button type="submit" class="submit-button" [disabled]="!loginForm.valid">
              Ingresar
            </button>
  
            <div class="terms row">
              <a href="">Términos y Condiciones</a>
              <a href="">Política de privacidad</a>
            </div>
          </form>
          @if (error) {
            <div class="message-box row">
              <span class="title">Error de inicio</span>
              <span class="messageError">{{error.message}}</span>
            </div>
          }
        </div>
      </div>
    </div>
  </div>