<app-navbar></app-navbar>

<div class="fondo-filtrado">
    
    <div class="contenido overflow-hidden text-start">
        <div class="row gx-5">
        <div class="col">
           <div class="p-5">
            
            <h2 class="title">
                <b>Quienes Somos</b>
            </h2>
            <p><a href="/">inicio</a> / institucional
            </p>
           
    
           </div>
        </div>
        <div class="col">
            <div class="p-2">
    
            </div>
        </div>
        </div>
      </div>
</div>


